.vscode/**
.vscode-test/**
test/**
node_modules/**
out/**
scripts/**
.gitignore
.eslintignore
.yarnrc
vsc-extension-quickstart.md
vscode api使用说明.md
src/**
tsconfig.json
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/*SFConflict*
*.vsix
releases/**
images/*.jpg
images/*.psd
